{% extends "html-footer-dev.twig" %}

{% block title %}Login Page{% endblock %}

{% block body %}
<form class="tpad">
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <div class=" input-group">
        <span class="input-group-label">Username:</span>
        <input class="input-group-field" type="text" name="username">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <div class="input-group">
        <span class="input-group-label">Password:</span>
        <input class="input-group-field" type="password" name="password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
      <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
      <button type="submit button" class="button">Submit</button>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <div data-alert class="results">
      </div>
    </div>
  </div>
</form>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <p>To log in, use your Honors account</p>
      <p><em>Note:</em> To use this system you must have logged into the computer lab before</p>
    </div>
  </div>
{% endblock %}

{% block scriptable %}
<script type="text/javascript">
$("form").submit(function(event) {
	event.preventDefault();
	var username = $( 'input[name="username"]' ).val();
  var password = $( 'input[name="password"]' ).val();
  var c_name = $( 'input[name="csrf_name"]' ).val();
  var c_value = $( 'input[name="csrf_value"]' ).val();
	// console.log(goodURL);
	$.ajax({
	    url: "login",
	    type: "POST",
	 	data: {u: username, p: password, csrf_name: c_name, csrf_value: c_value},
	 	success: function(data) {
      $(".results").addClass("callout success");
      $(".results").html(data);
      setTimeout(function() { window.location.replace("/")}, 2000);
	 		// alert(data);
      // nsole.log("Good");
      // rogress.done();
	 	},
	 	error: function() {
	 		$(".results").html('It Failed');
      // nsole.log("Bad");
      // rogress.done();
	 	}
	});
});
</script>
{% endblock %}
