<!doctype html>
<html class="no-js" lang="en">
<!-- Like or Dislike what you see? You can help make it better -->
<!-- https://gitlab.com/spolston/web-based-printing -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="assets/css/foundation.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
    {% block head %}
    {% endblock %}
  </head>
  <body>
      <header>
        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="menu">
              <li><a href="/"><i class="fa fa-print fa-2x" aria-hidden="true"></i></a></li>
              <li class="menu-text"><h4>SMBHC Print  <small> v0.1</small></h4></li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li><a href="logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </header>

    {% block body %}

    {% endblock %}
    <footer>
      <div class="row">
        <div class="small-12">
          <a href="mailto:smbhc-ticket@go.olemiss.edu?subject=Problem%20with%20print%20app">Problem?</a> | <a href="https://gitlab.com/spolston/web-based-printing/issues" target="_blank">Reported Issues</a>
        </div>
      </div>
    </footer>

    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/what-input.js"></script>
    <script src="assets/js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
    console.log("Like or Dislike what you see? You can help make it better");
    console.log("https://gitlab.com/spolston/web-based-printing");
    </script>
    {% block scriptable %}
    {% endblock %}

  </body>
</html>
