{% extends "html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ tehURL }}/assets/css/dropzone.min.css" />
{% endblock %}

{% block body %}
<!-- {{ printer }} -->
<div class="tpad">
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <form action="/upload"
        class="dropzone"
        id="my-awesome-dropzone">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
      </form>
    </div>
  </div>
  <div class="row tpad">
    <div class="medium-6 medium-centered columns">
      <label>Select Printer
        <select name="witch">
          {% if printer is same as('dungeon') %}
            <option value="dungeon">Dungeon</option>
            <option value="lobby">Lobby</option>
            <option value="lab">Lab Printer 1</option>
          {% elseif printer is same as('lab') %}
            <option value="lab">Lab Printer 1</option>
            <option value="dungeon">Dungeon</option>
            <option value="lobby">Lobby</option>
          {% else %}
            <option value="lobby">Lobby</option>
            <option value="dungeon">Dungeon</option>
            <option value="lab">Lab Printer 1</option>
          {% endif %}
        </select>
      </label>
    </div>
  </div>
  <div class="row tpad">
    <div class="medium-6 medium-centered columns">
      <div class="row">
        <div class="medium-6 columns">
          <button class="disabled submit expanded button" id="print-me">Print</button>
        </div>
        <div class="medium-6 columns">
          <button class="alert expanded button" id="reset-page">Reset</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <div class="results">&nbsp;
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <p>This website is designed to allow you to upload and print a file that you need, without having to install the printer itself.</p>
      <p>To use the printer:</p>
      <ul>
        <li>Click the box above to upload your file</li>
        <li>Once uploaded, the "Print" button should become available</li>
        <li>To reprint or print a new file, click "Reset"</li>
      </ul>
      <p><b>IF YOU ARE HAVING PROBLEMS PRINTING,</b>
      <br>Please save your document as a PDF and upload the PDF. After, please use the "Problem?" link below.</p>
    </div>
  </div>
</div>

{% endblock %}

{% block scriptable %}
<script type="text/javascript" src="{{ tehURL }}/assets/js/dropzone.js"></script>
<script type="text/javascript">
Dropzone.options.myAwesomeDropzone = {
  init: function() {
    this.on("success", function(file, responseText) {
      // $(".results").html(responseText);
      console.log(responseText);
      $("#print-me").removeClass("disabled");
      window.newToken = responseText;
    });
  },
  acceptedFiles: ".doc, .docx, .pdf",
  dictDefaultMessage: "Click to upload file<br />Accepts Word or PDF files",

};

$("#print-me").on('click', function(event) {
  event.preventDefault();
  // console.log("print me works");
  json = JSON.parse(newToken);
  witch = $('select').val();
  $.ajax({
    url: "{{ tehURL }}/print-me",
    type: "POST",
    data: {csrf_name: json.csrf_name, csrf_value: json.csrf_value, print_name: witch},
    success: function(data) {
      $(".results").addClass("callout success");
      $(".results").html(data);
      $("#print-me").addClass("disabled");
    },
    error: function() {
      $(".results").html('It Failed');
    }
  });
});

$("#reset-page").on('click', function(event) {
  event.preventDefault();
  location.reload();
});
</script>
{% endblock %}
